<aside data-component="sidebar"></aside>
<div class="main-content">
  <div>
    <header data-component="topbar"></header>
    <main class="content">
      <div class="card-groups">
        <header id="dms-report-header">
          <div>
            <h1 class="icon-download" data-text="'{LNG_Download history} ' + (options.file ? options.file.name : '')" data-i18n>{LNG_Download history}</h1>
            <p data-i18n>Document management system</p>
          </div>
          <div>
            <a class="btn btn-secondary icon-back" href="/dms-setup" data-attr="href:options.file ? '/dms-files?dms_id=' + options.file.dms_id : '/dms-setup'"
               data-i18n>{LNG_List of} {LNG_File}</a>
          </div>
        </header>
        <div class="content-body">
          <div class="tablebody">
            <table class="table border fullwidth" data-table="dmsReport" data-source="api/dms/report" data-default-sort="updated_at desc" data-page-size="25"
                   data-load-query-params="true" data-load-target="#dms-report-header" data-search-columns="name">
              <thead>
                <tr>
                  <th data-field="status" data-format="lookup" data-options-key="status" class="center" data-cell-class="center" data-i18n>{LNG_Member status}</th>
                  <th data-field="name" data-sort="name" data-i18n>{LNG_Name}</th>
                  <th data-field="updated_at" data-sort="updated_at" data-format="datetime" class="center" data-cell-class="center nowrap" data-i18n>{LNG_Date}</th>
                  <th data-field="downloads" data-sort="downloads" class="center" data-cell-class="center" data-i18n>{LNG_Download}</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
  <footer class="footer">
    <p class="center">&copy; 2026 Admin Framework - Powered by <a href="https://nowjs.net">Now.js</a></p>
  </footer>
</div>
